main {
    margin-left: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px gray;
}

h3 {
    width: 100%;
    border-bottom: solid 0px black;
    background: none;
    font-size: 25px;
}

h5 {
    color: #333;
    margin: 7px 0 5px 0;
}

img {
    width: auto;
    max-width: 325px;
    height: 200px;
    border: 1px solid black;
}