@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html {
    scroll-behavior: smooth;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

img {
    display: flex;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 1000;
}

header a {
    grid-template-columns: repeat(3,1fr);
    display: grid;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    color: white;
}
h1 {
    z-index: 1000;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: 4px solid white;
}

--------------------------------------------------------------


.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.clear {
  clear: both;
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: white;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}
.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}
.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  margin: auto;
  position: relative;
  text-align: center;
  height: 60px;
  width: 60px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.clear {
  clear: both;
}

nav {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
  transition-delay: 100ms;
  border: 4px solid white;
  ul {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

    li {
      display: flex;
      list-style: none;
      font-size: 24px;
      color: #fff;
      margin: auto;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}
nav.show {
    padding: 4px;
    height: 30%;
    opacity: 1;
    li:hover{
        color: aqua;
        text-decoration: none;
        cursor: pointer;
}
}

.blue {
    display: flex;
    background: aqua;
    height: 0%;
    width: 100%;
    transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
    border: 4px solid white;
}
.blue.slide {
    height: 55%;
    opacity: 1;
}

--------------------------------------------------------------

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
}
main {
    margin: 25px;
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    margin: 0;
    padding-bottom: 15px;
}
hr.solid {
    border-top: 4px solid black;
    margin: 5px;
    margin-bottom: 25px;
  }
h3 {
    display: block;
    color: black;
    background-color: aqua;
    border-bottom: 4px solid black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding: 25px;
    margin: 0px;
}
section {
    display: inline-block;
    vertical-align: middle;
}
section.card  {
    border: 4px solid black;
    height: 100%;
}
form {
    margin: 0 auto;
    align-self: center;
}
ul {
    text-align: center;
    align-self: center;
    list-style: none;
    margin: 25px;
    padding-inline-start: 0px;
}
form li {
    padding: 0px;
    align-self: center;
}
ul a {
    color: black;
}
ul a:hover{
    color: aqua;
    text-decoration: none;
}
p {
    margin: 0 auto;
    align-self: center;
    text-align: center;
    list-style: none;
    margin: 25px;
    padding-inline-start: 0px;
    padding: 0px;
}

footer {
    font-family: "Comic Neue", Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 25px;
    grid-template-columns: repeat(3,1fr);
    display: grid;
    column-gap: 15px;
    justify-content: space-around;
    align-items: center;
    border: 4px solid white;
}
footer p {
    background-color: black;
    color: white;
    text-decoration: none;
}
img#us {
    justify-self: center;
    height: 25px;
    width: 25px;
}
a:-webkit-any-link {
    text-decoration: none;
}


@media only screen and (max-width: 750px) {
img {
    display: block;
    margin: auto;
}
header {
    display: block;
    text-align: center;
}
nav {
    display: block;
    text-align: center;
}
nav a {
    display: block;
}
.card  {
    display: block;
    border: 4px solid black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
}